body {
    background-color: rgb(20, 45, 37);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Flexbox for the container that will hold forms or messages */
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Style for dynamically-created forms */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

form input {
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    padding: 10px;
    background: #3a7bd5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover {
    background: #2b5ea6;
}

.start-box {
    background-color: #1a1a1a; 
    color: white;               
    padding: 20px;           
    border-radius: 15px;       
    border: 2px solid #3a7bd5; 
    max-width: 500px;     
    margin: 5px auto;         
    text-align: center;         
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

input {
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
}

#game-container {
  background: #1a1a1a; 
  color: white; 
  border: 2px solid #3a7bd5;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

footer {
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  align-self: flex-end;
}

#giveUpBtn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#giveUpBtn:hover {
  background-color: #d32f2f;
}

/* Header/logo Title */
.header {
    padding-top: 60px;
    text-align: center;
    background-image: url('images/main-header.PNG');
    color: white;
    font-family: "Courier New", monospace;
    background-size: cover;
}

.title_box {
    display: flex;
    background-color: rgba(22, 22, 22, 0.8);
    width: 350px;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    flex-direction: column;
    background-color: rgba(22, 22, 22, 0.8);
    align-items: center;
    text-align: center;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    align-content: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
    align-items: center;
    align-content: center;
}